<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qakj.crm.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.qakj.crm.pojo.Goods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_number" property="goodsNumber" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="INTEGER" />
    <result column="goods_suppName" property="goodsSuppname" jdbcType="VARCHAR" />
    <result column="goods_address" property="goodsAddress" jdbcType="VARCHAR" />
    <result column="goods_date" property="goodsDate" jdbcType="DATE" />
    <result column="goods_supperNumber" property="goodsSuppernumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, goods_number, goods_name, goods_price, goods_suppName, goods_address, goods_date, 
    goods_supperNumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qakj.crm.pojo.GoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qakj.crm.pojo.GoodsExample" >
    delete from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qakj.crm.pojo.Goods" >
    insert into goods (id, goods_number, goods_name, 
      goods_price, goods_suppName, goods_address, 
      goods_date, goods_supperNumber)
    values (#{id,jdbcType=INTEGER}, #{goodsNumber,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=INTEGER}, #{goodsSuppname,jdbcType=VARCHAR}, #{goodsAddress,jdbcType=VARCHAR}, 
      #{goodsDate,jdbcType=DATE}, #{goodsSuppernumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qakj.crm.pojo.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsNumber != null" >
        goods_number,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsSuppname != null" >
        goods_suppName,
      </if>
      <if test="goodsAddress != null" >
        goods_address,
      </if>
      <if test="goodsDate != null" >
        goods_date,
      </if>
      <if test="goodsSuppernumber != null" >
        goods_supperNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null" >
        #{goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsSuppname != null" >
        #{goodsSuppname,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddress != null" >
        #{goodsAddress,jdbcType=VARCHAR},
      </if>
      <if test="goodsDate != null" >
        #{goodsDate,jdbcType=DATE},
      </if>
      <if test="goodsSuppernumber != null" >
        #{goodsSuppernumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qakj.crm.pojo.GoodsExample" resultType="java.lang.Integer" >
    select count(*) from goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsNumber != null" >
        goods_number = #{record.goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null" >
        goods_price = #{record.goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="record.goodsSuppname != null" >
        goods_suppName = #{record.goodsSuppname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAddress != null" >
        goods_address = #{record.goodsAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsDate != null" >
        goods_date = #{record.goodsDate,jdbcType=DATE},
      </if>
      <if test="record.goodsSuppernumber != null" >
        goods_supperNumber = #{record.goodsSuppernumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods
    set id = #{record.id,jdbcType=INTEGER},
      goods_number = #{record.goodsNumber,jdbcType=VARCHAR},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=INTEGER},
      goods_suppName = #{record.goodsSuppname,jdbcType=VARCHAR},
      goods_address = #{record.goodsAddress,jdbcType=VARCHAR},
      goods_date = #{record.goodsDate,jdbcType=DATE},
      goods_supperNumber = #{record.goodsSuppernumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qakj.crm.pojo.Goods" >
    update goods
    <set >
      <if test="goodsNumber != null" >
        goods_number = #{goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsSuppname != null" >
        goods_suppName = #{goodsSuppname,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddress != null" >
        goods_address = #{goodsAddress,jdbcType=VARCHAR},
      </if>
      <if test="goodsDate != null" >
        goods_date = #{goodsDate,jdbcType=DATE},
      </if>
      <if test="goodsSuppernumber != null" >
        goods_supperNumber = #{goodsSuppernumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qakj.crm.pojo.Goods" >
    update goods
    set goods_number = #{goodsNumber,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=INTEGER},
      goods_suppName = #{goodsSuppname,jdbcType=VARCHAR},
      goods_address = #{goodsAddress,jdbcType=VARCHAR},
      goods_date = #{goodsDate,jdbcType=DATE},
      goods_supperNumber = #{goodsSuppernumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>